/* PRESENTATION
* CSS : cssreference.io
*/

html {
	background-image: url("../img/memphis-pattern.png");
	background-size: 100vh;
	background-attachment: fixed;
	max-width: 100vw;
	animation: scrollunlock 0.1s linear 12s forwards;
	overflow: hidden;
}

@keyframes scrollunlock {
	100% {
		overflow: auto;
	}
}

body {
	color: #141414;
	font-family: sans-serif;
	width: calc(100vw - 17px);
}

navbar, #gallery, #about-contact, footer {
	opacity: 0;
	animation: fadein 0.5s linear 12s forwards;
}

p {
	font-size: 1.1em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

a {
	text-decoration: none;
	color: #009CDA;
}

a:hover {
	color: #FFCF01;
}

/* Navbar */

navbar {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(80vw - 17px);
	height: 300px;
	padding: 100px 5vw 50px 5vw;
	margin: 50px auto 0 auto;
	background-color: #fff;
}

/* Gallery */

#gallery {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: calc(80vw - 17px);
	margin: 50px auto;
	padding: 50px 5vw 35px 5vw;
	background-color: #fff;
}

#gallery > a > img {
	background-color: #fff;
}

#gallery > div.filters {
	width: 80vw;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

div.filters > div.button-wrapper {
	margin: 0 10px 30px 10px;
	border-radius: 20px;
	z-index: 2;
	transition: .5s;
}

div.filters > div.button-wrapper > button {
	padding: 12px 20px 10px 20px;
	border: none;
	border-radius: 20px;
	width: 150px;
	z-index: 2;
	color: white;
	background-color: #EE3070;
	
}

div.filters > div.button-wrapper > button.selected {
	background-color: #FFCF01;
}

button:focus {
	outline: 0;
}

div.filters > .button-wrapper:hover {
	transform: scale(1.1) translate(0, -2px);
	box-shadow: 0 5px 5px 0 #aaa;
	transition: .5s;
}

#gallery > a {
	margin: 15px 20px;
}

a.hidden {
	display: none;
}

a > img {
	width: 350px;
}

/* Work Detail Overlay */

.work-detail {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: calc(100vw - 17px);
	padding-left: 9.4vw;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
	opacity: 0;
}

.info {
	width: 35vw;
	margin-left: 5vw;
}

.work-detail.visible {
	opacity: 1;
	z-index: 2;
	position: sticky;
}

.image > img {
	width: 40vw;
}

.image > video {
	width: 40vw;
}

.close {
	position: absolute;
	width: 30px;
	top: 20px;
	left: 20px;
	z-index: 2;
}

.multi-img {
	max-width: calc(100vw - 17px);
	display: flex;
	align-items: center;
}

.multi-img > svg:nth-child(1) {
	width: 50px;
	flex-shrink: 0;
	margin-right: 10px;
	transform: rotate(90deg);
}

.multi-img > svg:nth-child(3) {
	width: 50px;
	flex-shrink: 0;
	margin-left: 10px;
	transform: rotate(-90deg);
}

.icon {
	fill: none;
	stroke: #863F98;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 7px;
}

.multi-img > svg {
	height: 100px;
}

.hover {
	stroke: #FFCF01;
}

@media screen and (max-width:1050px) {
	.work-detail {
		flex-direction: column;
		padding-left: 0;
	}

	.info {
		margin-left: 0;
		width: 80vw;
	}
	
	.image > img {
		width: 60vw;
	}

	.image > video {
		width: 80vw;
	}
}

@media screen and (max-width: 500px) {
	.info {
		min-width: 80vw;
		font-size: 3vw;
	}
}

/* About/Contact Group */

#about-contact	{
	box-sizing: border-box;
	background-color: #fff;

	width: calc(80vw - 17px);
	margin: 0 auto;
	padding: 50px 5vw;
	display: flex;
	justify-content: center;
}

/* About */

#about {
	margin-right: 50px;
}

#about > p {
	max-width: 90ch;
}

@media screen and (max-width:500px) {
	#about > p {
		font-size: 3vw;
	}
}

/* Contact */

#contact	{
	display: flex;
	width: 40vw;
	flex-direction: column;
	align-items: center;
	margin-left: 50px;
}

form	{
	min-width: 200px;
	width: calc(100% - 50px);
	display: flex;
	flex-direction: column;
}

form > h1 {
	margin: 0 auto;
}

form > label {
	margin: 10px 0 2px 0;
}

form > textarea	{
	max-width: 99.2%;
	min-height: 10em;
}

form > div.button-wrapper {
	margin: 15px 0 0 calc(100% - 150px);
	width: 150px;
	border-radius: 20px;
	transition: 0.5s;
}

form > div.button-wrapper > input {
	padding: 12px 20px 10px 20px;
	border: none;
	border-radius: 20px;
	width: 150px;
	color: white;
	background-color: #EE3070;
}

form > .button-wrapper:hover {
	transform: scale(1.1) translate(0, -2px);
	box-shadow: 0 5px 5px 0 #aaa;
	transition: .5s;
}

@media screen and (max-width:1050px) {
	#about-contact {
		flex-direction: column;
	}
	#contact{
		margin-left: -25px;
		width: calc(80vw - 50px);
	}
	#about {
		margin: 0;
	}
}

@media screen and (max-width:500px) {
	#about-contact {
		flex-direction: column;
	}
	#contact{
		margin-left: -25px;
		width: 100vw;
	}
	#about {
		margin: 0;
	}
}

/* Footer */

footer	{
	box-sizing: border-box;
	width: calc(80vw - 17px);
	margin: 50px auto 25px auto;
	height: 100px;
	padding: 0 5vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

footer > .links	{
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer > p	{
	text-align: center;
}

/* Logo Animation */

#logo-anim {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

#logo-anim > * {
	z-index: 2;
}

#logo-anim > svg	{
	position: absolute;
}

#logo	{
	width: 50vw;
	left: 25vw;
	bottom: -120%;
	animation: sunrise 4s ease-out 2s forwards, logoshrink 1s ease 12s forwards;
	
	transition: 1s;
}

#mt-back	{
	width: 50vw;
	right: 0;
	bottom: -60%;
	animation: mtrise 12s forwards;
}

#mt-front	{
	width: 60vw;
	left: 0;
	bottom: -100%;
	animation: mtrise 12s forwards;
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100.5vh;
	background-color: white;
	animation: fadeout 1s linear 12s forwards;
}

.sig1	{
	stroke-dasharray: 1490px;
	stroke-dashoffset: -1490px;
	animation: siganim 2s linear 6.5s forwards;
}

.sig2	{
	stroke-dasharray: 740px;
	stroke-dashoffset: 740px;
	animation: siganim 1s linear 8.5s forwards;
}

.sig3	{
	stroke-dasharray: 10px;
	stroke-dashoffset: -10px;
	animation: siganim 0.1s linear 9.5s forwards;
}

.sun-bottom	{
	animation: fadeout 1s linear 10s forwards;
}

/* Colors */

.sun-fill {
  fill: #ffcc05;
}

.sun-stroke, .signature {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.sun-stroke {
  stroke: #ffcc05;
  stroke-width: 8px;
}

.sun-nib	{
	opacity: 0;
	animation: fadein 1s linear 10s forwards;
}

.signature {
  stroke: #3d3d3d;
  stroke-width: 5px;
}

.blue	{
	fill:#1495CD;
}

.purple	{
	fill:#823C7C;
}

.pink	{
	fill:#DB2F5C;
}

.white	{
	fill:#FFFFFF;
}


/* Animations */

@keyframes mtrise	{
	30%	{
		bottom: 0;
	}
	82%	{
		bottom: 0;
	}
	99% {
		opacity: 1;
		z-index: 2;
	}
	100%	{
		bottom: -50vh;
		opacity: 0;
		z-index: -1;
	}
}

@keyframes sunrise	{
	100%	{
		bottom: calc(-10% + 100px);
	}
}

@keyframes siganim	{
	100%	{
		stroke-dashoffset: 0px;
	}
}

@keyframes fadeout	{
	99% {
		height: 100%;
		z-index: 2;
	}
	100%	{
		opacity: 0;
		z-index: -1;
		height: 0px;
	}
}

@keyframes fadein	{
	100%	{
		opacity: 1;
	}
}

@keyframes logoshrink	{
	0% {
		bottom: calc(-10% + 100px);
	}
	99% {
		z-index: 2;
	}
	100%	{
		width: 400px;
		left: calc(50vw - 200px);
		bottom: calc(100vh - 480px);
		z-index: 0;
	}
}

/* Generic Media Queries */

@media screen and (max-width: 500px) {

	::-webkit-scrollbar { 
		display: none; 
	}
	html {
		background-size: 50vh;
	}
	body, navbar, #gallery, .work-detail, #about-contact, footer, .image > img, .image > video {
		width: 100vw;
	}
	.multi-img > .image > img {
		width: calc(100vw - 200px);
	}
}