/*
  DIAGNOSTIC STYLING
*/

/* Your Awesome Styles */

/* Whole-body Styling */

body	{
	background-color: #CEF;
}

/* Header Styling */

header	{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;

	animation: headershrink 1s ease 12s forwards;
}

svg	{
	position: absolute;
}

#logo	{
	width: 60vw;
	left: 20vw;
	bottom: -120%;
	animation: sunrise 4s ease-out 2s forwards, logoshrink 1s ease 12s forwards;
	
	transition: all 1s;
}

#mt-back	{
	width: 60vw;
	right: 0;
	bottom: -60%;
	animation: mtrise 12s forwards;
}

#mt-front	{
	width: 70vw;
	left: 0;
	bottom: -100%;
	animation: mtrise 12s forwards;
}

.sig1	{
	stroke-dasharray: 1490px;
	stroke-dashoffset: -1490px;
	animation: siganim 2s linear 6.5s forwards;
}

.sig2	{
	stroke-dasharray: 740px;
	stroke-dashoffset: 740px;
	animation: siganim 1s linear 8.5s forwards;
}

.sig3	{
	stroke-dasharray: 10px;
	stroke-dashoffset: -10px;
	animation: siganim 0.1s linear 9.5s forwards;
}

.sun-bottom	{
	animation: fadeout 1s linear 10s forwards;
}


/* Colors */

.sun-fill {
  fill: #ffcc05;
}

.sun-stroke, .signature {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.sun-stroke {
  stroke: #ffcc05;
  stroke-width: 8px;
}

.sun-nib	{
	opacity: 0;
	animation: fadein 1s linear 10s forwards;
}

.signature {
  stroke: #3d3d3d;
  stroke-width: 5px;
}

.blue	{
	fill:#1495CD;
}

.purple	{
	fill:#823C7C;
}

.pink	{
	fill:#DB2F5C;
}

.white	{
	fill:#FFFFFF;
}


/* Animations */

@keyframes mtrise	{
	30%	{
		bottom: -4vw;
	}
	80%	{
		bottom: -4vw;
	}
	99% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes sunrise	{
	100%	{
		bottom: -10vh;
	}
}

@keyframes siganim	{
	100%	{
		stroke-dashoffset: 0px;
	}
}

@keyframes fadeout	{
	100%	{
		opacity: 0;
	}
}

@keyframes fadein	{
	100%	{
		opacity: 1;
	}
}

@keyframes logoshrink	{
	0% {
		bottom: -10vh;
	}
	100%	{
		width: 150px;
		left: calc(50vw - 75px);
		bottom: -38%;
	}
}

@keyframes headershrink	{
	100% {
		height: 15vh;
	}
}

/* Contact Styling */

.contact	{
	display: flex;
  	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

form	{
	min-width: 200px;
	width: 80vw;
	max-width: 600px;
	display: flex;
	flex-direction: column;
}

input[type=submit]	{
	width: 100px;
	align-self: flex-end;
}

/* Portfolio Styling */

.gallery	{
	display: flex;
}

.item	{
	width: 25vw;
	height: 85vh;
	align-items: center;
	justify-content: center;
}

div.wrapper.onMobile	{
	flex-direction: column;
}

div.item.onMobile	{
	width: 100vw;
}

.one {
	background-color: #fdd;
}

.two	{
	background-color: #dfd;
}

.three	{
	background-color: #ddf;
}

.four	{
	background-color: #dff;
}

/* About Styling */

.about > h1	{
	text-align: center;
	padding-bottom: 1em;
}

.about	{
	padding: 5vw;
	min-width: 45ch;
	max-width: 75ch;
	margin: 0 auto;
}

/* Footer Styling */

footer	{
	width: 100vw;
	height: 100px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

footer > .links	{
	width: 400px;
	margin: 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

footer > .links > a	{
	margin: 0 10px;
}

footer > p	{
	text-align: center;
	margin: 0 20px;
}